RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "\.(sqlite|sqlite3|db)$">
    Require all denied
</FilesMatch>

Options -Indexes
